MASSIVE_API_KEY=

# provides census quarterly services survey, economoic sensus, census service annual survey
CENSUS_API_KEY=

# pulls all federal contracts (packaged software)
USASPENDING_API=None

# Tiger-db (Kushagra's Credentials)
Name=
PUBLIC_KEY=
SECRET_KEY=

